@page
@model Docker.Benchmarking.Orchestrator.Web.Pages.DockerHost.TestDeploy
@{
    ViewData["Title"] = "Test Deploy Image to Host";
}

<h1 class="h2">@ViewData["Title"]</h1>

<form method="post">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DockerHost" class="control-label"></label>
                <input asp-for="DockerHost" class="form-control" />
                <span asp-validation-for="DockerHost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PortNumber" class="control-label"></label>
                <input asp-for="PortNumber" class="form-control" />
                <span asp-validation-for="PortNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <table id="parameters-table" class="table table-striped table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Parameters">
                    <tr>
                        <td><input data-bind='attr: { value: key, name: "Parameters["+$index()+"].Key"}' class="form-control" required readonly="@(Model.HasValidated)" /></td>
                        <td><input data-bind='attr: { value: value, name: "Parameters["+$index()+"].Value"}' class="form-control" required readonly="@(Model.HasValidated)" /></td>
                        <td><a href="#" data-bind="click: $root.removeItem" class="btn btn-danger @(Model.HasValidated ? "d-none" : "")">Remove</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group pull-right">
            <label asp-for="DockerImageId" class="control-label"></label>
            <button data-bind="click: addItem.bind($data, null)" class="btn btn-danger @(Model.HasValidated ? "d-none" : "")">Add Parameter</button>
        </div>*@
            <div class="form-group">
                <label asp-for="DockerImage" class="control-label"></label>
                <select asp-for="DockerImage" asp-items="@Model.DockerImages" class="form-control js-example-basic-single input-lg">
                    <option selected="selected" value="">Please select a docker image to deploy</option>
                </select>
                <span asp-validation-for="DockerImage" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="Deploy" class="btn btn-success btn-lg" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

