@model Docker.Benchmarking.Orchestrator.Web.ViewModels.ApplicationDetailsViewModel

@{
    ViewData["Title"] = "Details for Application: " + Model.Name;
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ApplicationType)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ApplicationType)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ApacheJmeterTestId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ApacheJmeterTestId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DelayToStartApplication)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DelayToStartApplication)
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2 class="h5">Completed Benchmarking Experiments</h2>
        </div>
        @await Component.InvokeAsync("BenchmarkTestTable", new { applicationId = Model.Id, completedResults = true })
        <hr />
    </div>
    <div class="col-md-12">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h3 class="h5">To Complete Benchmarking Experiments</h3>
        </div>
        @await Component.InvokeAsync("BenchmarkTestTable", new { applicationId = Model.Id, completedResults = false })
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.benchmark-results').DataTable();
        });
    </script>
}